*{
    margin: 0px;
    border: 0px;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    max-width:  1920px;
}

/* header section start here */
 header{
    background: rgba(255, 144, 14, 0.10);
   
 }
nav{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    align-items: center;
}
ul{
    display: flex;
    text-align: center;
    /* padding-top: 20px; */
    
}
li a{
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
    

}
.nav-title{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

/* banner section start here */

.banner-container{
    text-align: center;
    margin-top: 70px;
}
.banner-content{
    width: 859px;
   
    margin:0px auto
}
.banner-title{
   
    font-size: 70px;
    width: 700px;
    margin: 0px auto
}
.banner-des{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.banner-btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
     background: #FF900E;
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 30px;
     margin-top: 20px;
}