*{
    margin: 0px;
    border: 0px;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    
   
}

/* header section start here */
 header{
    background: rgba(255, 144, 14, 0.10);
  
 }
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
    padding:50px 240px ;
   
}
ul{
    display: flex;
    text-align: center;
    /* padding-top: 20px; */
    
}
li a{
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
    

}
.nav-title{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

/* banner section start here */

.banner-container{
    text-align: center;
    margin-top: 70px;
}
.banner-content{
    width: 859px;
   
    margin:0px auto
}
.banner-title{
   
    font-size: 70px;
    width: 700px;
    margin: 0px auto
}
.banner-des{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.banner-btn{
    width: 180px;
    height: 64px;
    border-radius: 8px;
     background: #FF900E;
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 30px;
     margin-top: 20px;
     color: #FFF;
     border: none;
     cursor: pointer;
     text-align: center;
}
/* featur section start here */
main{
    max-width: 1440px;
    margin: 0px auto ;
}

.features-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}
.featur-title{
    font-size: 45px;  
    font-weight: 500;
    color:  #727272; 
    margin-bottom: 20px;
    width: 460px;
    
}
.featur-description{
    padding-left: 70px;
    padding-right: 70px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.feature-imges{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.span{
    color: #FF900E;
    
}

/* some fact start here */
.some-title{
    font-size: 45px;   
    font-weight: 700;
}
.fact-des{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;  
    width: 542px;
}
.fact-icon{
display: flex;
justify-content: space-evenly;
}

.fact-item{
border: 2px solid green;
justify-content: space-evenly;
padding: 10px;
margin-top: 40px;
margin-bottom: 40px;
text-align: center;
}

/* sponspors section start here */

.spon-item{
text-align: center;
margin-top: 40px;
}
.spon-title{
    font-size: 45px; 
    font-weight: 700; 
}
.spon-des{
    font-size: 16px; 
    font-weight: 400;
    line-height: 26px; 
    width: 542px;
    margin: auto;
}
.spon-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 20px;
}




@media screen and (max-width:576px) {
    
    nav{
        flex-direction: column;
         
    }
    .banner-img{
       width: 100%; 
    }
    .banner-content{
      width: 100%;
    }
    .banner-title{
        width: 100%;
    }
    .li a{
       width: 100%;
       margin-top: 30px;
       margin-right: 20px;
    }

    .features-section{
        flex-direction: column;
    }
   
    .featur-title{
        width: 100%;
    }
    .features-section{
     margin-top: 40px;
     text-align: center;
    }
    .feature-imges{
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .banner-btn{
        width: 60%;
        margin: auto;
        padding-top: 30px;   
     }

.featur-description{
    margin-top: 40px;
}

/* some fact start here */

.some-heading{
    
    text-align: center;
}
.fact-des{
    width: 100%;
}
.fact-icon{
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
   margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
/* sponpors section start here */

.spon-img{
   flex-direction: column;
   
}
.spon-des{
    width: 100%;
}

.img{
   height: 20%;
   width: 40%;
   margin-bottom: 70px;
   margin: auto;
   padding-top: 40px;
}

}



